@import "src/scss/vars";

.wrapper {
  color: #f5f5f5;
  margin-top: rem(50px);
}

.title {
  margin-bottom: rem(30px);
  font-size: rem(22px);
  font-weight: 400;
}

.list {
  display: grid;
  grid-template-rows: repeat(1, minmax(rem(50px), min-content));
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-column-gap: rem(20px);
  grid-row-gap: rem(10px);
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  list-style: none;
  padding: rem(15px) rem(20px) rem(15px) rem(20px);
  background-color: $main-bg-color;
  border-radius: rem(8px);
  cursor: pointer;
  transition: $transition;

  &__text {
    position: relative;
    display: block;
    padding-left: rem(35px);

    &::before {
      position: absolute;
      top: 50%;
      bottom: 50%;
      left: 0;
      content: "";
      background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30px' height='30px'%3e%3cpath d='M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z'/%3e%3c/svg%3e");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: rem(20px);
      width: rem(20px);
      transform: translateY(-50%);
    }
  }

  &:hover {
    background-color: #4a4a4acf;
  }
}

.loader {
  width: 100%;
  height: rem(16px);

  &__line {
    width: 100%;
    height: rem(16px);
  }
}

@media (max-width: rem(600px)) {
  .wrapper {
    margin-top: rem(25px);
  }

  .item {
    padding: rem(10px) rem(10px) rem(10px) rem(15px);

    &__text {
      font-size: rem(14px);
      line-height: rem(16px);
    }
  }
}

@media (max-width: rem(500px)) {
  .list {
    display: block;
  }

  .item + .item {
    margin-top: rem(15px);
  }
}