@import "src/scss/vars";

.form {
    display: flex;
    align-items: center;
}

.button {
    position: relative;
    background-color: $main-color;
    border: none;
    width: rem(70px);
    height: rem(46px);
    border-radius: 0 rem(22px) rem(22px) 0;
    cursor: pointer;
    outline: none;
    transition: $transition;

    &::before {
        position: absolute;
        top: 50%;
        right: 50%;
        bottom: 50%;
        left: 50%;
        content: '';
        width: rem(20px);
        height: rem(20px);
        background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30px' height='30px'%3e%3cpath d='M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z'/%3e%3c/svg%3e");
        background-size: cover;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
    }

    &:hover {
        background-color: darken($main-color, 4%);
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.input {
    color: #f5f5f5;
    padding: rem(10px) rem(12px);
    border-radius: rem(22px) 0 0 rem(22px);
    border: 1px solid $main-bg-color;
    outline: none;
    background-color: $main-bg-color;
    font-size: rem(17px);
    line-height: rem(26px);
    width: 30vw;
    transition: $transition;

    &::placeholder {
        color: #f5f5f5;
        font-size: rem(17px);
        line-height: rem(26px);
    }

    &:hover {
        background-color: #4a4a4acf;
    }
}

.error {
    border-color: $error-color;
}

@media (max-width: rem(1000px)) {
    .input {
        width: 45vw;
    }
}

@media (max-width: rem(600px)) {
    .input {
        font-size: rem(14px);
        line-height: rem(15px);
        width: 55vw;

        &::placeholder {
            font-size: rem(14px);
            line-height: rem(15px);
        }
    }

    .button {
        width: rem(55px);
        height: rem(35px);
    }
}
